html, body {
    color: #fff;
    background-color: #1b1b32;
    font-family: Lalo, sans-serif;
    margin-top: 40px;
}

.titulo {

    color: #1b1b32;
    font-size: 25px;
    font-family: Roboto,  sans-serif;
    text-align: center;
    margin: 20px 0;
    

}

.app-tareas {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

/* estilos para contenedor de la lista de las tareas */
.tareas-lista-main {

    width: 350px;
    min-height: 550px;
    background-color: #d0d0d5;
    padding: 25px;
    margin: 10px;
    border-radius: 25px;

    
}